body {
  font-family: 'open sans', sans-serif;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  border-bottom: 2px solid black;
}

thead button {
  border: 0;
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 1px;
  font-size: 16px;
}

thead button.ascending::after {
  content: "⬆️";
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: "⬇️";
  display: inline-block;
  margin-left: 1em;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}

input {
    height: 40px;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    border-style: solid;
    font-size: 16px;
}
